<div class="header">
  <h1 class="header-title">Заявки</h1>
</div>
<div class="page-content">
  <div class="form-container">
    <ul class="table-req">
      <li class="row-req row-title">
         <div class="user-req">
           <span class="user-req-text">Имя</span>
           <span class="user-req-text">Номер телефон</span>
           <span class="user-req-text">E-mail адресс</span>
         </div>
      </li>
      <li class="row-req">
        <div class="user-req">
          <span class="user-req-text">John</span>
          <span class="user-req-text">+092 31 576 45 04</span>
          <span class="user-req-text">john@gmail.com</span>
        </div>
      </li>
      <li class="row-req">
        <div class="user-req">
          <span class="user-req-text">Eva</span>
          <span class="user-req-text">+092 31 576 45 04</span>
          <span class="user-req-text">eva@gmail.com</span>
        </div>
      </li>
    </ul>
  </div>
</div>
