<div class="header">
  <h1 class="header-title">Заявки</h1>
</div>
<div class="page-content">
  <div class="form-container">
    <ul class="table-req">
      <li class="row-req row-title">
         <div class="user-req">
           <span class="user-req-text">Имя</span>
           <span class="user-req-text">Номер телефон</span>
           <span class="user-req-text">E-mail адресс</span>
         </div>
      </li>
      <li class="row-req" *ngFor="let a of applications">
        <div class="user-req">
          <span class="user-req-text">{{a.name}}</span>
          <span class="user-req-text">{{a.phone}}</span>
          <span class="user-req-text">{{a.mail}}</span>
        </div>
      </li>
    </ul>
  </div>
</div>
