<div class="header">
  <h1 class="header-title">Настройки сайта</h1>
  <div class="turn-contact">
    <div class="switch" (click)="switch = !switch" title="Отображение знака меню в страницах">
      <div class="switch_eclipse" [ngClass]="{'on': switch}">{{switch ? "Вкл" : "Выкл"}}</div>
    </div>
  </div>
</div>
<div class="page-content">
  <div class="form-container">
    <h2 class="title-section">Добавить фото сотрудников</h2>
    <app-library placeholder="Требуемый размер (462 x 382)" [limit]="200"></app-library>
    <div class="form-block_setting">
      <div class="form-container w-50">
        <h2 class="title-section">Добавить сертификат</h2>
        <div class="form-input image-input main-img-other">
          <span class="picture-txt">Загрузите сертификат</span>
          <div class="bg-info">
            <span>Выбрать</span>
          </div>
        </div>
      </div>
      <div class="form-container w-50">
        <h2 class="title-section">Добавить логотип партнёров</h2>
        <div class="form-input image-input main-img-other">
          <span class="picture-txt">Загрузите логотип</span>
          <div class="bg-info">
            <span>Выбрать</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-container">
    <div class="form-block_setting">
      <div class="form-block-1">
        <h2 class="title-section">Добавить ссылки на соц сеть</h2>
        <input type="text" class="form-input text_place mar-b-20" placeholder="Введите ссылку на Телеграм">
        <input type="text" class="form-input text_place mar-b-20" placeholder="Введите ссылку на Facebook">
        <input type="text" class="form-input text_place" placeholder="Введите ссылку на Instagram">
      </div>
      <div class="form-block-1">
        <h2 class="title-section">Добавить номер телефона</h2>
        <input type="text" class="form-input text_place mar-b-20" placeholder="Номер телефона">
        <input type="text" class="form-input text_place mar-b-20" placeholder="Номер телефона">
      </div>
    </div>
  </div>
  <div class="form-container">
    <h2 class="title-section">Добавить фото в раздел "Мы поставляем"</h2>
    <div class="form-block-item">
      <div class="t-img-block">
        <app-library placeholder="Загрузите изображение трактора"></app-library>
        <input type="text" class="form-input text_place" placeholder="Описание">
      </div>
      <div class="t-img-block">
        <app-library placeholder="Загрузите изображение трактора"></app-library>
        <input type="text" class="form-input text_place" placeholder="Описание">
      </div>
      <div class="t-img-block">
        <app-library placeholder="Загрузите изображение трактора"></app-library>
        <input type="text" class="form-input text_place" placeholder="Описание">
      </div>
    </div>
  </div>
  <div class="form-btn-block">
    <button class="header-button">Сохранить</button>
  </div>
</div>
