<form>
    <div class="form-container">
        <div class="first-form">
          <label for="add-photo" class="form-input image-input">
            <input type="file" id="add-photo"  accept="image/png, image/jpeg" class="hidden-input">
            <span class="picture-txt">Максимум 3 шт</span>
            <div class="bg-info">
              <span>Выбрать</span>
            </div>
          </label>
          <div class="text_place">
            <input type="text" class="form-input" placeholder="Название">
          </div>
          <input type="text" class="form-input text_form_title" placeholder="Название характеристики">
          <input type="text" class="form-input text_form_deck" placeholder="Значение">
          <input type="text" class="form-input text_form_title_2" placeholder="Название характеристики">
          <input type="text" class="form-input text_form_deck_2" placeholder="Значение">
          <input type="text" class="form-input text_form_title>_3" placeholder="Название характеристики">
          <input type="text" class="form-input text_form_deck_3" placeholder="Значение">
          <input type="text" class="form-input text_form_title_4" placeholder="Название характеристики">
          <input type="text" class="form-input text_form_deck_4" placeholder="Значение">
          <textarea class="form-input textarea_deck" placeholder="Описание"></textarea>
        </div>
        <div class="second-form">
          <div class="form-block">
            <input type="text" placeholder="Название">
            <div class="text_form_title_engine">
              <input type="text" class="form-input text_from_h" placeholder="Название характеристики">
            </div>
            <div class="text_form_deck_engine">
              <input type="text" class="form-input text_from_h" placeholder="Значение">
            </div>
          </div>
        </div>
    </div>
</form>
