.form-container{
  padding: 30px;
  margin-top: 30px;
  border: var(--border-primary);
  border-radius: 6px;
}
.first-form{
  display: flex;
  grid-gap: 20px;
}
.form-input{
  border-radius: 6px;
  border: 2px solid #222028;
  background: #222028;
  outline: none;
  resize: none;
  padding: 0 20px;
  font-family: Source Sans Pro,sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
  transition: all .3s;
}
.form-input:focus{
  border: 2px solid #0061E7;
}
.image-input{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffffb3!important;
  transition: all .3s;
  position: relative;
  padding: 0!important;
}
.textarea_deck{
  width: 100%;
  margin-top: 20px;
  height: 200px;
  padding: 15px 20px;
}
.textarea_deck::-webkit-scrollbar{
  width: 3px;
  background: transparent;
}
.textarea_deck::-webkit-scrollbar-thumb{
  border-radius: 50px;
  background: #0061E7;
}
.hidden-input{
  display: none;
}
.bg-info{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(34,32,40,.2);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  border-radius: 6px;
  opacity: 0;
  transition: all .3s;
  z-index: 3;
}
.image-input:hover{
  color: #ffffff!important;
}
.image-input:hover .bg-info {
  opacity: 1;
}
.second-form{
  display: flex;
  margin-top: 20px;
  gap: 20px 0;
  flex-direction: column;
}
.form-block{
  display: flex;
  width: 100%;
  gap: 0 20px;
}
.text_form_title{
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 20px 0;
}
.text_form_deck_engine{
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px 0;
  margin-top: 20px;
}
.text_from_h{
  height: 45px;
}
.category-form{
  width: 100%;
  margin-bottom: 20px;
}
.form-select{
  width: 100%;
  height: 45px;
  cursor: pointer;
}
.form-select option{
  cursor: pointer;
}
.add_img{
  display: flex;
  flex-direction: column;
}
.mini-img-block{
  display: flex;
  gap: 0 20px;
  margin-top: 20px;
}
.main-img{
  width: 462px;
  height: 382px;
}
.mini-img{
  width:140px;
  height: 116px;
}
.text_place_block{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px 0;
}
.form-block-сharacteristic{
  margin: 20px 0;
}
.text_place{
  width: 100%;
  height: 45px;
}
.form-block-characters{
  width: 100%;
}
.add-place-form{
  font-size: 25px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.form-btn-block{
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.header-button{
  font-size: 1.2rem;
  border-radius: 6px;
  border: 2px solid #0061E7;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  cursor: pointer;
  transition: all .3s;
  color: #fff;
  width: 120px;
  height: 40px;
  text-transform: uppercase;
}
.header{
  border-bottom: var(--border-primary);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-title{
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
}
.title-section{
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
