<div class="header">
  <h1 class="header-title">Настройки сайта</h1>
</div>
<div class="page-content">
  <h1 class="">Добавить сертификат</h1>
  <div class="form-container">
    <label for="add-img" class="form-input image-input main-img">
      <input type="file" id="add-img"  accept="image/png, image/jpeg" class="hidden-input">
      <span class="picture-txt">Загрузите сертификат</span>
      <div class="bg-info">
        <span>Выбрать</span>
      </div>
    </label>
    <div class="form-btn-block">
      <button class="header-button">Добавить</button>
    </div>
  </div>
</div>
