<div class="header">
  <h1 class="header-title">Каталог</h1>
</div>
<div class="page-content">
  <div class="form-container">
    <ul class="catalog-list">
      <li class="catalog-item">ID</li>
      <li class="catalog-item">НАЗВАНИЕ</li>
      <li class="catalog-item">ДЕЙСТВИЯ</li>
    </ul>
    <ul class="catalog-list product-card" *ngFor="let p of products; index as i">
      <li class="catalog-item product-text">{{i + 1}}</li>
      <li class="catalog-item product-text">{{p.name}}</li>
      <li class="catalog-item product-text actions-items">
        <button class="submit-btn" [ngClass]="{up: !p.isRecommended, delete: p.isRecommended}" title="{{p.isRecommended ? 'Удалить из популярные модели' : 'Добавить в популярные модели'}}" (click)="toggleRecommended(p)">
          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" class="submit-btn-icon up-icon" *ngIf="!p.isRecommended">
            <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/>
          </svg>
          <svg viewBox="0 0 448 512" fill="none" xmlns="http://www.w3.org/2000/svg"  *ngIf="p.isRecommended" class="submit-btn-icon delete-icon">
            <path d="M48 224H192H256H400C417.7 224 432 238.3 432 256C432 273.7 417.7 288 400 288H256H192H48C30.3 288 16 273.7 16 256C16 238.3 30.3 224 48 224Z"/>
          </svg>
        </button>
        <button class="submit-btn delete" title="Удалить" (click)="delete(p)">
          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" class="submit-btn-icon delete-icon">
            <path d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0H284.2c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64S14.3 32 32 32h96l7.2-14.3zM32 128H416V448c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V128zm96 64c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16z"/>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</div>
