<div class="header">
  <h1 class="header-title">{{textTitle}}</h1>
</div>
<div class="page-content">
  <div class="category">
    <h2 class="category-head">КАТАЛОГ ТЕХНИКИ</h2>
    <ul class="sub-category-list">
      <li class="sub-category-item"
          *ngFor="let tractor of tractors">{{tractor.name}}
          <div (click)="subCategory = !subCategory" class="category-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="sub-category-icon">
              <path d="M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/>
            </svg>
          </div>
          <div>
            <ul class="sub-category-item-s" *ngIf="subCategory">
              <li class="sub-category-item font-size" (click)="subCategorySub = !subCategorySub">
                <div (click)="subCategorySub = !subCategorySub" class="category-icon" @listCategory>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="sub-category-icon">
                    <path d="M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/>
                  </svg>
                </div>
                Под-категория
                <ul class="sub-category-item-s" *ngIf="subCategorySub">
                  <li class="sub-category-item font-size" >
                    Под-под-категория
                  </li>
                </ul>
              </li>
            </ul>
          </div>
      </li>
    </ul>
    <button class="category-submit header-button" (click)="openModal('tractor')">Добавить</button>
  </div>
  <div class="category">
    <h2 class="category-head">КАТАЛОГ ЗАПАСНЫХ ЧАСТЕЙ</h2>
    <ul class="sub-category-list">
      <li class="sub-category-item" *ngFor="let spare of spares">{{spare.name}}</li>
    </ul>
    <button class="category-submit header-button" (click)="openModal('spare')">Добавить</button>
  </div>
</div>
<div class="create-category-modal" *ngIf="isOpen" (click)="closeModal($event)">
  <div class="modal-body">
    <h3 class="modal-header">Добавить категорию в {{type === 'tractor' ? 'КАТАЛОГ ТЕХНИКИ' : 'КАТАЛОГ ЗАПАСНЫХ ЧАСТЕЙ'}}</h3>
    <form [formGroup]="form" (ngSubmit)="submitForm()">
      <input type="text" placeholder="Имя категории" class="form-input modal-input" formControlName="name">
      <div class="library-container">
        <app-library placeholder="Выберите изоражение для категории" formControlName="image" [height]="300" [width]="275" [limitWidth]="275" [limitHeight]="300"></app-library>
      </div>
      <button class="modal-submit" [disabled]="form.invalid">Добавить</button>
    </form>
  </div>
</div>
