.header{
  border-bottom: var(--border-primary);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-title{
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
}
.form-container{
  padding: 30px;
  margin-top: 30px;
  border: var(--border-primary);
  border-radius: 6px;
}
.text_place{
  width: 100%;
  height: 45px;
}
.form-btn-block{
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.header-button{
  font-size: 1.2rem;
  border-radius: 6px;
  border: 2px solid #0061E7;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  cursor: pointer;
  transition: all .3s;
  color: #fff;
  width: 100%;
  height: 40px;
  text-transform: uppercase;
  margin-top: 20px;
}

.category-head {
  margin: 0;
}

.page-content {
  display: flex;
  align-items: stretch;
  margin-top: 20px;
}

.category {
  width: 50%;
  padding: 15px;
}

.category:not(:last-child) {
  border-right: var(--border-primary);
}

.sub-category-list {
  margin-top: 20px;
  list-style: none;
  padding-left: 20px;
}

.sub-category-list * {
  user-select: none;
}

.sub-category-list li::before {
  content: "";
  background: red;
  font-weight: bold;
  width: 1px;
  height: auto;
  margin-left: -1em;
  position: absolute;
  top: 2px;
  left: 0;
  bottom: 2px;
}

.sub-category-item {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}

.create-category-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-header {
  font-size: 18px;
  font-weight: 600;
}

.modal-body {
  padding: 25px;
  border-radius: 6px;
  background: var(--bg-primary);
}

.library-container {
  width: 100%;
  text-align: center;
}

.modal-submit {
  font-size: 1.2rem;
  border-radius: 6px;
  border: 2px solid #0061E7;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  cursor: pointer;
  transition: all .3s;
  color: #fff;
  width: 100%;
  height: 40px;
  text-transform: uppercase;
  margin-top: 20px;
}

.form-input {
  width: 100%;
  height: 45px;
  border-radius: 6px;
  border: 2px solid #222028;
  background: #222028;
  outline: none;
  resize: none;
  padding: 0 20px;
  font-family: Source Sans Pro,sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
  transition: all .3s;
}

.form-input:focus {
  border: 2px solid #0061E7;
}
.sub-category-item-s{
  margin-top: 10px;
}
.modal-input {
  margin-bottom: 20px;
}
.sub-category-icon{
  width: 15px;
  height: 15px;
  fill: #ffffff;
}
.category-icon{
  position: absolute;
  right: 40px;
}
